[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-isort = "*"
flake8-black = "*"
pytest = "*"
pytest-cov = "*"
mock = "*"

[packages]
flask = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
