[tool.poetry]
name = "docat"
version = "0.0.0"
description = "Host your docs. Simple. Versioned. Fancy."
authors = ["Felix <hi@l33t.name>", "Benj <randombenj@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.10"
tinydb = "^4.8.0"
fastapi = {version = "^0.111.0", extras = ["all"]}
python-multipart = "^0.0.9"
uvicorn = "^0.29.0"
python-magic = "^0.4.27"

[tool.poetry.dev-dependencies]
flake8 = "^7.0.0"
flake8-isort = "^6.1.1"
flake8-black = "^0.3.6"
pytest = "^8.2.1"
pytest-cov = "^4.1.0"
requests = "^2.31.0"
mypy = "^1.9.0"

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "--ff -ra -v"
testpaths = [
    "tests"
]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
line_length = 140

[[tool.mypy.overrides]]
module = [
    "tinydb",
    "tinydb.storages",
    "uvicorn"
]
ignore_missing_imports = true

[tool.black]
line-length = 140
