@media only screen and (min-width: 650px) {
  .upload {
    padding: 1% 0;
    margin: 3% 16%;
  }
}

@media only screen and (max-width: 650px) {
  .upload {
    padding: 1% 0;
    margin: 3% 3%;
  }
}

.upload-header {
  display: flex;
  align-items: center;
}

.upload-title {
  padding-left: 15px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.upload-remarks {
  padding-top: 16px;
  font-size: 0.9em;
}

.upload-remarks > a {
  text-decoration: underline;
}

.upload-button {
  padding: 8px;
  width: 100%;
  max-width: 175px;
  font-size: 1.05em;
  border-radius: 8px;
  border: none;
  background-color: var(--button-primary);
  color: white;
}

.success-banner,
.error-banner {
  color: white;
  text-align: center;
  padding: 8px 0;
  width: 100%;
}

.success-banner {
  background-color: green;
}

.error-banner {
  background-color: red;
}

.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}
