.claim {
  width: 100%;
}

@media only screen and (min-width: 650px) {
  .claim-content {
    padding: 1% 0;
    margin: 3% 16%;
  }
}

@media only screen and (max-width: 650px) {
  .claim-content {
    padding: 1% 0;
    margin: 3% 3%;
  }
}

@media only screen and (min-width: 1000px) {
  .claim-form {
    width: 50%;
  }
}

@media only screen and (max-width: 1000px) {
  .claim-form {
    width: 100%;
  }
}

.claim-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.claim-title {
  padding-left: 15px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.claim-description {
  padding: 16px 0 2em 0;
  font-size: 0.9em;
}

.claim-form {
  display: flex;
  flex-direction: column;
}

.token-output {
  margin-top: 2em !important;
}

.project-select {
  min-width: 200px;
}

.claim-button {
  padding: 8px;
  margin: 2em 0;
  width: 100%;
  max-width: 175px;
  font-size: 1.05em;
  border-radius: 8px;
  border: none;
  background-color: var(--button-primary);
  color: white;
  cursor: pointer;
}

.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.error-banner {
  color: white;
  text-align: center;
  padding: 8px 0;
  width: 100%;
}

.error-banner {
  background-color: red;
}
