.upload-btn,
.claim-btn,
.delete-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--primary-foreground);
  color: white;
  position: fixed;
  bottom: 20px;
  border: none;
  z-index: 1; /* Without this, the footer is on top of the controls */
}

.upload-btn {
  right: 180px;
}

.claim-btn {
  right: 100px;
}

.delete-btn {
  right: 20px;
}
