.error-banner {
  color: white;
  background-color: red;
  text-align: center;
  padding: 8px;
  width: 100%;
}

html {
  overflow: auto;
}

html,
body,
iframe {
  margin: 0px;
  padding: 0px;
  height: 100%;
  border: none;
}

iframe {
  height: 100vh;
}

iframe {
  position: relative;
  display: block;
  width: 100%;
  border: none;
  overflow-y: auto;
  overflow-x: hidden;
}