.project-card {
  margin: 0 16px 10px 16px;
  padding: 16px;
  width: calc(100% - 32px);
  min-width: 150px;
  flex: 1 1 calc(25% - 80px);
  border: 1px solid var(--secondary-foreground);
}

.project-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:<div class="project-overview">flex calc(90%);
}

.project-card-title {
  font-size: 120%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tooltip {
  background-color: var(--icons);
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
}
