.input-field {
  display: flex;
  flex-direction: column;
}

.input-label {
  --font-size: 0.95em;

  padding: 0 5px;
  margin: 0;

  position: relative;
  top: calc(var(--font-size) / 2 + 2px);
  left: 0.75em;
  z-index: 1;
  background-color: white;
  width: fit-content;
  font-size: var(--font-size);
}

.input {
  padding: 1em 0.8em 0.8em 0.8em;
  border-radius: 5px;
  border: 1px dashed grey;
  font-size: 1em;
  text-overflow: ellipsis;
}

@media only screen and (min-width: 650px) {
  .input-field {
    margin: 16px 50% 16px 0;
    max-width: 350px;
  }
}

@media only screen and (max-width: 650px) {
  .input-field {
    margin: 16px 25% 16px 0;
  }
}

@media only screen and (max-width: 350px) {
  .input-field {
    margin: 16px 0;
  }
}

.validation-message {
  padding-top: 5px;
  font-size: 0.8em;
}

.red {
  color: red;
}
