.upload {
  padding: 1% 0;
  border: 1px solid var(--secondary-foreground);
  border-radius: 15px;
}

@media only screen and (min-width: 650px) {
  .upload {
    margin: 3% 13%;
  }
}

@media only screen and (max-width: 650px) {
  .upload {
    margin: 3% 3%;
  }

  .upload-button {
    width: 80%;
  }
}

.upload-title {
  padding: 0 0 8px 0;
  text-align: center;
  border-bottom: 1px solid var(--secondary-foreground);
  overflow-x: hidden;
}

.upload-remarks {
  padding: 16px 2% 0 2%;
  text-align: center;
  font-size: 0.9em;
}

.docat-repo-link {
  text-decoration: underline;
}

.upload-button-container {
  display: flex;
  justify-content: center;
}

.upload-button {
  text-align: center;
  width: 200px;
  margin: 0 16px;
  padding: 8px;
  border-radius: 8px;
  font-size: 1.05em;
  border: none;
  background-color: var(--button-primary);
  color: white;
}

.success-banner,
.error-banner {
  color: white;
  text-align: center;
  padding: 8px;
  width: 100%;
}

.success-banner {
  background-color: green;
}

.error-banner {
  background-color: red;
}
