.loading-error {
  color: red;
  text-align: center;
  padding: 30px 0;
  font-size: large;
}

.no-results {
  text-align: center;
  font-size: 130%;
  margin: 16px;
}

.divider {
  border-bottom: 1px solid var(--secondary-foreground);
  margin-bottom: 16px;
  padding-bottom: 16px;
}

.project-overview {
  display: flex;
  flex-direction: column;
}

.card {
  border: 1px solid var(--secondary-foreground);
  border-radius: 5px;
  width: 250px;
  padding: 16px;
  margin-left: 16px;
}

.clear {
  clear: both;
}

.card-header {
  margin-top: 8px;
}

@media only screen and (min-width: 1000px) {
  .project-overview {
    margin: 20px 15%;
    width: 70%;
  }
}

@media only screen and (max-width: 1000px) {
  .project-overview {
    margin: 20px;
  }
}
